@model List<Legislacion>

<h1>ACA EL USUARIO REALIZA LAS CONSULDAS DE LA LEGISLACION DE INTERES</h1>
<p> Tengo @Model.Count legislacion</p>

@* MUESTRA CADA UNA DE LAS NOTAS EN LA VISTA *@
@foreach (Legislacion legislacion in Model)
{
    <div>
            <h4>@legislacion.Tipo</h4>
            <p>@legislacion.Numero</p>
            <p>@legislacion.Origen</p>
            <p>@legislacion.Objeto</p>
            <p>@legislacion.Enlace</p>

    </div>
}

