@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Registro</h1>
    <p>Para realizar la carga o actualización del repositorio legislativo debe acceder con su usuario y contraseña.</p>





    @model LoginViewModel

    <div class="container">
        <div class="row">
            <div class="col align-self-start"></div>
                <div class="col align-self-center" id="formulario_login">
            
                            @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                            {
                                <div>
                                    <br />
                                    @Html.LabelFor(x => x.Email, new { @class = "" })
                                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", autofocus = "autofocus" })
                                    @Html.ValidationMessageFor(x => x.Email, null, new { @class = "text-danger" })
                                    <br />

                                    @Html.LabelFor(x => x.Password)
                                    <div class="input-group">
                                        @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                                        <span class="input-group-btn">
                                            <button id="verPassword" class="btn btn-default" type="button">
                                                <i class="glyphicon glyphicon-eye-open"></i>
                                            </button>
                                        </span>
                                    </div>
                                    @Html.ValidationMessageFor(x => x.Password, null, new { @class = "text-danger" })
                                    <br />

                                    <button class="btn btn-primary" type="submit">
                                        Iniciar sesión
                                    </button>

                                    <div class="checkbox-inline pull-right">
                                        @Html.CheckBoxFor(x => x.RememberMe, new { @class = "" })
                                        @Html.LabelFor(x => x.RememberMe, new { @class = "" })
                                    </div>
                                    <br />
                                </div>
                                }
                    </div>  
                <div class="col align-self-start"></div>           
            </div>
        </div>
</div>





@* <a id="BotonCargarNota" href="#">BOTON DE JS</a> *@
